<div class="text-center">
    <div class="mb-5">
        <h1> Covid-19</h1>
        <p> Evolution of the virus around the world</p>
        <img
        style="width: 100%"
        src="https://firebasestorage.googleapis.com/v0/b/covid-19-a8e77.appspot.com/o/virus-1913183_1920.jpg?alt=media&token=ca14b3fc-1c3b-4b47-8c05-01100bd2b94d"
        alt="cOVID19 image"
        />
    </div> 
    <button class="btn btn-info" (click)="covid19Service.signInWithGoogle()">Sign in with google</button>
</div>


