<div class="row">
    <div class="col-md-6 text-right">
        <img src="https://firebasestorage.googleapis.com/v0/b/covid-19-a8e77.appspot.com/o/covid-4948866_1920.jpg?alt=media&token=c21b5c15-bbd7-443f-a3ff-33bf54b6bd74" 
             alt="logo" 
             class="rounded-circle"
             style="width: 11%;"/>
    </div>
    <div class="col-md-6">
        <h3>Covid-19</h3>
    </div>
</div>
<div class="text-center">
    <h5 >Live Updates and Statistics</h5>
</div>

<table class="table table-bordered">
    <thead>
        <tr class="table-active"></tr>
        <td colspan="2" class="text-center ">Corona Virus Summary Worldwide</td>
    </thead>

    <tbody>
        <tr class="table-warning">
            <td>Total Cases</td>
            <td>{{Global.TotalConfirmed}} </td>
        </tr>
        <tr class="table-warning">
            <td>New Cases</td>
            <td>{{Global.NewConfirmed}}</td>
        </tr>
        <tr class="table-warning">
            <td>Active Cases</td>
            <td>{{Global.TotalConfirmed - Global.TotalRecovered}}</td>
        </tr>
        <tr class="table-primary">
            <td>Total Recovered</td>
            <td>{{Global.TotalRecovered}}</td>
        </tr>
        <tr class="table-primary">
            <td>New Recovered</td>
            <td>{{Global.NewRecovered}}</td>
        </tr>
        <tr class="table-primary">
            <td>Recovery Rate</td>
            <td>{{Global.TotalRecovered * 100 / Global.TotalConfirmed | number : '.2-2'}}%</td>
        </tr>
        <tr class="table-danger">
            <td>Total Deaths</td>
            <td>{{Global.TotalDeaths}}</td>
        </tr>
        <tr class="table-danger">
            <td>New Deaths</td>
            <td>{{Global.NewDeaths}}</td>
        </tr>
        <tr class="table-danger">
            <td>Mortality Rate</td>
            <td>{{Global.TotalDeaths * 100 / Global.TotalConfirmed | number : '.2-2'}}%</td>
        </tr>
    </tbody>
</table>

<div class="mt-5">
    <div class="p-3 mb-2 bg-secondary text-white">Corona Virus Cases Distribution Worldwide</div>
</div>

<div>
    <canvas id="pieChart">{{pieChart}}</canvas>
</div>

<div class="mt-5">
    <div class="p-3 mb-2 bg-secondary text-white">Daily Corona Virus Cases Worldwide</div>
</div>

<div>
    <canvas id="barChart">{{barChart}}</canvas>
</div>

<div class="mt-5">
    <div class="p-3 mb-2 bg-secondary text-white">Total Virus Cases Worldwide</div>
</div>

<div>
    <canvas id="lineChart">{{lineChart}}</canvas>
</div>

<div class="p-3 mb-2 bg-secondary text-white mt-5">Corona Virus Cases by Country</div>
<nav class="navbar">
    <input class="form-control" type="text" name="country" [(ngModel)] = "country" (ngModelChange) = "Search()" 
                placeholder="Enter Country Name to search">
</nav>
<table class="table table-bordered">
    <thead>
        <tr>
            <th (click) = "sort('Country')" class="table-active">Country&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('NewConfirmed')" class="table-warning">New Cases&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('TotalConfirmed')" class="table-warning">Total Cases&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('NewRecovered')" class="table-primary">New Recoveries&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('TotalRecovered')" class="table-primary">Total Recoveries&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('NewDeaths')" class="table-danger">New Deaths&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th (click) = "sort('TotalDeaths')" class="table-danger">Total Deaths&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let country of countries | orderBy: key: reverse | paginate:{itemsPerPage:10,currentPage:p};">
            <td class="table-active" (click)="worldwideService.toCountryClick(country.Country, country.CountryCode)">{{country.Country}}</td>
            <td class="table-warning">{{country.NewConfirmed}}</td>
            <td class="table-warning">{{country.TotalConfirmed}}</td>
            <td class="table-primary">{{country.NewRecovered}}</td>
            <td class="table-primary">{{country.TotalRecovered}}</td>
            <td class="table-danger">{{country.NewDeaths}}</td>
            <td class="table-danger">{{country.TotalDeaths}}</td>
        </tr>
    </tbody>
    <pagination-controls (pageChange) = "p = $event"></pagination-controls>
</table>

<div class="my-3" *ngIf="news && news.length > 0">
    <h4>News</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>User Name</th>
                <th>World wide/country</th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let new of news">
                <td>{{new.date.toDate() | date}}</td>
                <td>{{new.userName}}</td>
                <td>{{new.country}}</td>
                <td>{{new.description}}</td>
            </tr>
        </tbody>
    
    </table>
</div>
<app-add-news></app-add-news>


<div class="row">
    <div class="col-sm-6">
        <h3>{{user.displayName}}</h3>
    </div>
    <div class="col-sm-6 text-right">
        <button class="btn btn-danger" (click) = "worldwideService.signOut()">Sign Out</button>
    </div>
</div>


<div class="mt-5">
    <div class="p-3 mb-2 bg-gradient-secondary text-center">
        <footer>
            <p>Data source <a href="https://covid19api.com">COVID-19 API /Johns Hopkins CSSE</a></p>
        </footer>
    </div>
</div>